.video-tracking-app .sidebar {
  width: 240px;
  background-color: #3D424D;
  position: relative;

  .tab-header {
    .count-alert {
      position: absolute;
      left: calc(50% + 12px);
      top: 4px;
      padding: 0 4px;
      font-size: 10px;
      color: #FFFFFF;
      background-color: #DC4624;
      border-radius: 6px;
      height: 16px;
      line-height: 16px;
    }
  }

  .tab-content {
    height: calc(100% - 36px);
  }

  .scroller {
    height: 100%;
  }

  .actions {
    height: 32px;
    border-bottom: 1px solid #252935;
    display: flex;
    align-items: center;
    justify-content: center;

    & > div {
      width: 24px;
      height: 24px;
      margin: 0 12px;
      font-size: 16px;
      color: rgba(255, 255, 255, 0.6);
      display: flex;
      align-items: center;
    }
  }

  .collapse-all {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 8px;
    border-bottom: 1px solid #252935;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
  }

  &-category {
    background-color: #343846;
    border-bottom: 1px solid #252935;
    user-select: none;

    &-icon {
      font-size: 12px;
      cursor: pointer;
    }

    &-title {
      min-height: 32px;
      padding: 4px 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(255, 255, 255, 0.8);
      user-select: none;

      & > * {
        display: flex;
        align-items: center;
      }

      &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #FFFFFF;
        margin-right: 8px;
      }

      &__count {
        font-size: 12px;
        margin-right: 4px;
      }
    }

    &-content {
      border-top: 1px solid #252935;
      padding: 8px 0;
    }

    &-instance {
      color: rgba(255, 255, 255, 0.6);

      .hidden {
        background: transparent;
        background-size: 14px 14px;
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent 100%);
      }

      &.dragging {
        background-color: rgba(74, 144, 226, 0.8);
      }

      &__label {
        min-height: 28px;
        padding: 2px 8px 2px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.single {
          color: #FFFFFF;
        }

        &:not(.hidden).selected {
          background-color: rgba(74, 144, 226, 0.8);
        }
        &.hidden.selected {
          background-color: #4A90E2;
        }

        &:not(.selected):hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      &__camera {
        position: relative;
        margin: 0 14px 8px 14px;

        &:not(:last-child) {
          &::after {
            position: absolute;
            bottom: -5px;
            left: 12px;
            content: '';
            width: calc(100% - 24px);
            height: 1px;
            background-color: rgba(255, 255, 255, 0.1);
          }
        }

        .sidebar-category-instance__item {
          &:first-child {
            border-top-left-radius: 2px;
            border-top-right-radius: 2px;
          }
          &:last-child {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }

      &__item {
        min-height: 28px;
        padding: 2px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #FFFFFF;

        & > div {
          display: flex;
          align-items: center;
        }

        &-icon {
          display: flex;
          font-size: 12px;
          margin-right: 8px;
        }

        &:not(.hidden).selected {
          background-color: rgba(74, 144, 226, 0.8);
        }
        &.hidden.selected {
          background-color: #4A90E2;
        }

        &:not(.selected):hover {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    &-action {
      // width: 20px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 16px;
      position: relative;
    }

    &-review {
      display: flex;
      align-items: center;
      justify-content: right;

      & > div {
        width: 6px;
        height: 6px;

        &.approve {
          background-color: #5E8D36;
        }
        &.reject {
          background-color: #DC4624;
        }
        &.suspend {
          background-color: #E7C300;
        }
      }
    }

    &-relationship {
      display: flex;
      align-items: center;
      position: absolute;
      right: 20px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);

      & > svg {
        margin-right: 2px;
      }
    }
  }

  &-validation-header {
    height: 32px;
    border-bottom: 1px solid #252935;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;

    & > div {
      display: flex;
      align-items: center;
    }

    .icon-button {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      padding: 0 4px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &-validation-content {
    .error {
      padding: 12px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
      border-bottom: 1px solid #272A36;
    }

    .result-count {
      color: rgba(255, 255, 255, 0.6);
    }

    .warning-item {
      padding: 12px;
      user-select: none;
      transform: background-color 0.1s;
      border-bottom: 1px solid #272A36;
      background-color: #363636;

      .cat-color-dot {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-right: 8px;
        background-color: #FFFFFF;
      }

      &:hover {
        background-color: rgba(220, 70, 36, 0.2);
      }

      .warning-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .warning-title-left {
          display: flex;
          align-items: center;
          .ant-checkbox-wrapper {
            margin-right: 4px;
          }
        }
        .name {
          background-color: #272A36;
          padding: 1px 8px;
          border-radius: 2px;
          display: flex;
          align-items: center;
        }
        .warning-title-right {
          display: flex;
          justify-content: flex-end;
          .ant-dropdown-trigger {
            width: 24px;
            height: 24px;
            border-radius: 2px;
            text-align: center;
            &:hover {
              background-color: #363C4D;
            }
          }
          .ant-dropdown-trigger.ant-dropdown-open {
            background-color: #0F121A;
          }
        }
        .action {
          width: 24px;
          height: 24px;
          border-radius: 2px;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .warning-msg {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        margin-top: 8px;
      }
    }

    .ant-collapse {
      & > .ant-collapse-item {
        & > .ant-collapse-header {
          color: #FFFFFF;
          background-color: #555963;
          border-bottom: 1px solid #272A36;
          padding: 6px 8px;
          user-select: none;

          .ant-collapse-arrow {
            margin-right: 8px;
          }
          .ant-collapse-extra,
          .collapse-title-extra {
            display: flex;
            align-items: center;
          }
        }

        & > .ant-collapse-content {
          color: #FFFFFF;

          & > .ant-collapse-content-box {
            padding: 0px;
            .selected-operation-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
              color: rgba(255, 255, 255, 0.6);
              line-height: 32px;
              height: 32px;
              padding: 0 12px;
              .selected-operation-right {
                > span:not(:first-child) {
                  margin-left: 8px;;
                }
                .selected-info {
                  color: rgba(255, 255, 255, 0.5);
                }
                .unselect-all {
                  color: rgba(255, 255, 255, 0.9);
                  cursor: pointer;
                }
                .delete-all {
                  color: #DC4624;
                  cursor: pointer;
                  &.isDisable {
                    cursor: not-allowed;
                  }
                }
              }
            }
          }
        }
        &.collapse-panel-reviews {
          .ant-collapse-header {
            display: flex;
            align-items: center;
            .collapse-header-customer-wrapper {
              position: relative;
              display: flex;
              flex: 1;
              justify-content: space-between;
              cursor: auto;
              .collapse-header-customer {
                display: flex;
                flex: 1;
                justify-content: space-between;
              }
              .collapse-panel-delete {
                position: absolute;
                top: 5px;
                right: 18px;
              }
            }
          }
        }
      }
    }
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-inner {
      border: 1px solid rgba(255, 255, 255, 0.6);
    }

    .ant-checkbox-wrapper-checked {
      .ant-checkbox-checked {
        &:after {
          border: 1px solid #5BA8FF !important;
        }
      }
      .ant-checkbox-inner {
        border: 1px solid #5BA8FF !important;
        background-color: #5BA8FF;
      }
    }
  }
}

.video-tracking-app .shape-menu-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .shape-menu-popover {
    position: fixed;
    z-index: 10000;
    top: 30%;
    width: 348px;
    background: #252935;
    box-shadow: 0px 0px 8px 0px rgba(66,82,110,0.2500);
    border: 1px solid #5C5F6B;

    &__title {
      background-color: #5C5F6B;
      color: #FFFFFF;
      padding: 1px 8px;
    }

    &__content {
      padding: 12px;

      input {
        width: 48px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        color: #4A90E2;
        margin: 0 8px;
        text-align: center;

        &:focus {
          background-color: #1A1D22;
        }
      }
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 12px;
      margin-top: 24px;
    }

    &__btn {
      min-width: 65px;
      height: 24px;
      border: 1px solid #5C5F6B;
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &.save {
        background-color: #FFFFFF;
        border: none;
        color: #252935;
        margin-left: 12px;
      }
    }
  }
}
.custom-ant-dropdown {
  background-color: #212633;
  border: 1px solid #666d80;
  .ant-dropdown-menu {
    padding: 0;
    box-shadow: none;
    .ant-dropdown-menu-item {
      background-color: #363c4d;
      &:hover {
        background-color: #212633;
      }
    }
  }
}
