@import '../../../constants';

.audio-group-container{
  width: fit-content;
  height: 30px;
  margin: 0px auto;
}
.audio-button {
  margin: 0 20px;
  opacity: 0.6;
  height: 30px;
  line-height: 30px;
  background: transparent;
  cursor: pointer;
  @include themify() {
    color: theme(default-font-color);
  }
  outline: none;
  &:hover { opacity: 1; }
}
