@import "../../../constants";

.qa-comment-container{
  @include themify() {
    color: theme(default-font-color);
  }
  margin-top: 8px;
}
.qa-comment-container .qa-comment-text{
  margin-top: 5px;
  background: transparent;
  border-radius: 4px;
  outline: none;
  @include themify() {
    color: theme(highlight-font-color);
    border-color: theme(default-border-color);
  }
  &:hover, &:focus{
    @include themify() {
      border-color: theme(highlight-border-color);
    }
    box-shadow: none;
  }
}
