.video-tracking-app .instance-attributes-panel {
  .section {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #32353F;

    &-title {
      color: #FFFFFF;
      padding-bottom: 6px;
      display: flex;
      align-items: center;

      &__icon {
        margin-right: 8px;
        display: flex;
        align-items: center;
        font-size: 12px;
      }

      &.empty {
        color: rgba(255, 255, 255, 0.6);
      }
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .formula-container {
    font-size: 12px;
    margin-bottom: 4px;
    padding: 4px;
    border-color: transparent;
    text-align: left;
    white-space: initial;
  }

  .collapse-panel-title {
    .icon-button {
      padding: 7px 8px 0 0;
      font-size: 18px;
      color: rgba(255,255,255,.4);

      &:hover:not(.icon-button--disabled) {
        cursor: pointer;
        color: #4A90E2;
      }

      &--disabled {
        color: #bdbdbd;

        &:hover {
          cursor: not-allowed;
        }
      }

      &--active {
        color: #4A90E2;
      }
    }
  }
}

.formula-tooltip-container {
  max-width: initial!important;
}
